
.publications{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    margin-top: -34.5rem;
}

.publications label{
    background-color: #FFF;
    margin-top: 50px;
    width: 500px;
    height: 120px;
    border-radius: 10px;
}

label input{
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    width: 90%;
    height: 45px;
    padding-left: 20px;
    background-color: whitesmoke;
    cursor: pointer;
}

.publications div{
    position: absolute;
    margin-top: 120px;
    margin-left: -300px;
    display: flex;
    gap: 20px;
}

.publications div p{
    margin-left: -10px;
    margin-top: 2px;
}

.feed{
    margin-left: 27.5vw;
    margin-top: 20px;
    background-color: #FFF;
    width: 500px;
    height: 100%;
    position: absolute;
}

.api-news{
    background-color: #FFF;
    width: 300px;
    height: 300px;
    margin-left: 73vw;
    margin-top: -9vw;
    border-radius: 7px;
}