.main-container-dashboard {
    display: flex;
    justify-content: space-evenly;
}

.publications {
    width: 500px;
}

.startPublication {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.15);
    background: #fff;
}

.startPublication label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.startPublication label img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.startPublication label input {
    width: 80%;
    height: 50px;
    border-radius: 40px;
    outline:none;
    padding-left: 10px;
    border: 1px solid rgb(0,0,0,0.65);
}

.togglesOnStartPublication {
    display: flex;
    gap: 3rem;
    margin-left: 2rem;
}

.togglesOnStartPublication div {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 5px;
    padding: 3px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.4s;
}

.togglesOnStartPublication div:hover {
    background:rgb(0,0,0,0.11);
}

.togglesOnStartPublication div p {
    font-weight: 500;
    font-size: 0.9rem;
    color: rgb(0,0,0,0.75);
}

.feed {
    width: 100%;
    height: 80vh;
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.15);
}

.api-news{
    width: 300px;
    height: 80vh;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgb(0,0,0,0.15);
}