*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --whitesmoke: whitesmoke
    --white:#fff
    --grey:#d2d7df;
    --greyBlack:#333333;
    --greyLigth:#EAEAEC;
    --black:#000000
    --blackLigth:rgba(0,0,0, 0.6);
    --black35:0,0,0,0.35;
    --black65:0,0,0,0.65;
    --blueviolet: blueviolet;
    --blue:#045AC5;
    --blueGradient:linear-gradient(to top right, #021B79, #045AC5 );
}

body{
    background-color: var(--whitesmoke);
}

*:focus{
    outline: 0;
}

button{
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8
}

button:active {
    opacity: 0.6;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

input, textarea {
    outline: none;
}