* {
    font-family: 'Poppins', sans-serif;
}

.pageLogin {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.haveAccount {
    width: 50%;
    background: linear-gradient(to top right, #021B79, #045AC5 );
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.haveAccount h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.haveAccount p {
    font-size: 1.1rem;
    font-weight: 400;
}

.haveAccount a {
    background: #045AC5;
    font-weight: 400;
    font-size: 0.8rem;
    color: #fff;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
    transition: 0.3s;
}


.haveAccount a:hover {
    opacity: 0.8;
}

.haveAccount a:active {
    opacity: 0.6;
}

.registerInfos {
    background: #E5E5E5;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333;
}

.registerInfosContent {
    display: flex;
    flex-direction: column;
}


.registerInfosContent h1 {
    font-size: 1.5rem;
}

.registerInfosContent div {
    width: 307px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid rgb(0,0,0,0.35);
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.registerInfosContent div svg {
    width: 6%;
    color: rgb(0,0,0,0.65);
    height: 100%;
    margin-left: 10px;
    font-size: 0.5rem;
}
.registerInfosContent div input {
    width: 90%;
    height: 100%;
    border: 0;
    background: transparent;
    margin-left: 1rem;
}

.registerInfosContent button {
    width: 307px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid rgb(0,0,0,0.35);
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #045AC5;
    border: 0;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
}

.registerInfosContent a {
    margin: 0 auto;
    color: #333333;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    font-size: 0.9rem;
}

@media screen and (max-width: 870px) {
    .haveAccount h1 {
        font-size: 2rem;
        font-weight: 600;
    }
    
    .haveAccount p {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .registerInfosContent div {
        width: 307px;
        height: 50px;
    }

    .registerInfosContent button {
        width: 307px;
        height: 40px;
    }
}

@media screen and (max-width: 690px) { 
    .pageLogin {
        flex-direction: column;
    }

    .registerInfos {
        width: 100%;
        padding: 3rem;
    }

    .haveAccount {
        width: 100%;
        padding: 4.5rem;
    }
} 