body {
    font-family: 'Poppins', sans-serif;
}

.firstMainContainer{
    display: flex;
    justify-content: row;
    margin-top: 0;
    min-height: 100vh;
}

.containerToSignUp {
    width: 60%;
    height: 100vh;
    background: linear-gradient(to top right, #021B79, #045AC5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerToSignUp h1 {
    color: #FFF;
    font-size: 3rem;
}

.containerContent {
    padding-top: .2rem;
    margin-left: -15.2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerContent p {
    color: #FFF;
    margin-bottom: 1rem;
}

.containerContent a {
    width: 180px;
    height: 35px;
    background: #045AC5;
    border-radius: 20px;
    color: #FFF;
    padding: 5px 0 0 10px;
}

.containerContent a:hover {
    opacity: 0.8;
}

.containerToSignIn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.login h2{
    font-size: 2.2rem;
    margin-left: 2.8rem;
}


form{
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.icons{
    position: relative;
    top: 30px;
    left: 5px;
}

.formSignIn input{
    width: 19rem;
    border-radius: 15px;
    border: none;
    height: 2.5rem;
    padding-left: 2rem;
}


.formSignIn  button{
    height: 40px;   
    width: 19rem;
    font-size: 1.2rem;  
    margin-top: 1rem;   
    background-color: #0452BC;
    border: 0;
    border-radius: 15px;
    color: #FFF;
}

.formSignIn button:disabled{
    cursor: not-allowed;
}

.formSignIn button svg{
    animation: animate 2s infinite;
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.containerToSignIn a{
    margin-top: 1rem;
    margin-left: -3rem;
    color: #000;
}

@media (max-width: 1115px){
    .containerToSignIn{
        margin-left: 0rem;
    }

    .containerToSignIn h2{
        margin-left: 2rem;
    }
}


@media (max-width: 925px) {
    .firstMainContainer {
        flex-direction: column;
    }

    .containerToSignUp{
        flex-direction: column;
        width: 100%;
        height: 50vh;   
    }

    .containerToSignUp h1{
        font-size: 2.5rem;
    }

    .containerToSignUp .containerContent{
        margin-left: -11rem;
    }

    .containerToSignIn{
        margin-left: -4rem;
        margin-top: 1rem;
    }
}

@media (max-width: 472px){
    .containerToSignUp{
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media (max-width: 415px) {
    .containerToSignUp h1 {
        font-size: 2rem;
    }

    .containerToSignUp .containerContent{
        margin-left: -6rem;
    }

    .login h2{
        font-size: 2rem;
    }
}