body {
    font-family: 'Poppins', sans-serif;
}

.firstMainContainer{
    display: flex;
    justify-content: row;
    margin-top: 0;
    min-height: 100vh;
}

.containerToSignUp {
    width: 60%;
    height: 100vh;
    background: linear-gradient(to top right, #021B79, #045AC5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5rem;
}

.containerToSignUp h1 {
    color: #FFF;
    font-size: 2.8rem;
}

.containerContent {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.containerContent p {
    color: #FFF;
    margin-bottom: 1rem;
}

.containerContent a {
    background: #045AC5;
    border-radius: 20px;
    color: #FFF;
    width: 200px;
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.containerContent a:hover {
    opacity: 0.8;
}

.containerToSignIn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem auto 0 auto;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.login h2{
    font-size: 2rem;
    margin-right: auto;
}

.formSignIn {
    display: flex;
    flex-direction: column;
}

.icons{
    position: relative;
    top: 28px;
    left: 7px;
}

.formSignIn input{
    width: 19rem;
    border-radius: 15px;
    border: none;
    height: 2.6rem;
    padding-left: 2rem;
    border: 1px solid rgba(0,0,0,0.15);
}


.formSignIn  button{
    padding: 5px 30px;
    font-size: 1rem;  
    margin-top: 1rem;   
    background-color: #0452BC;
    border: 0;
    border-radius: 15px;
    color: #FFF;
}

.formSignIn button:disabled{
    cursor: not-allowed;
}

.formSignIn button svg{
    animation: animate 2s infinite;
}

.linkForgotPassword {
    font-size: 1rem;
}

@keyframes animate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.containerToSignIn a{
    margin-top: 1rem;
    margin-left: -3rem;
    color: #000;
}

@media (max-width: 850px){
    .firstMainContainer {
        flex-direction: column;
    }
    .containerToSignUp { 
        width: 100%;
        height: 30vh;
        padding-left:0rem;
        align-items: center;
    }
    .containerToSignUp h1 {
        font-size: 2rem;
    }
}