.container{
    display: flex;
    background-color: var(--white);
    width: 700px;
    height: 550px;
    margin-left: 25rem;
    margin-top: -31rem;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.label-avatar{
    width: 280px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: auto;
    margin-bottom: 1rem;
}

.label-avatar input{
    display: none;
}

.label-avatar span{
    z-index: 99;
    position: absolute;
    opacity: 0.6;
    transition: all .5s;
}

.label-avatar span:hover{
    opacity: 1;
    transform: scale(1.4);
}

.label-informations{
    display: flex;
    align-items: flex-start;
    margin-top: .5rem;
}

.form-profile img{
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
}

.form-profile input:disabled{
    cursor: not-allowed;
}

.form-profile input{
    background-color: var(--whitesmoke);
    width: 60%;
}

.form-profile button{
    width: 90%;
    align-self: center;
    margin-top: 3em;
}