.icon-settings{
   position: relative;
   left: 66vw;
   top: 1vw;
}


.container-settings {
  width: 70%;
  height: 80vh;
  background-color: #FFF;
  border-radius: 15px;
  margin: 0 auto;
  z-index: 100;
}

.label-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: auto;
    margin-bottom: 1em;
    margin-top: -2em;
    width: 0%;
    height: 0%;
}

.label-avatar input {
    display: none;
}

.label-avatar span {
    z-index: 99;
    position: absolute;
    opacity: 0.6;
    transition: all 1s;
}

.label-avatar span:hover {
    opacity: 1;
    transform: scale(1.4);
}

.form-profile img {
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}


.div-informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
    margin-top: -2em;
}

.form-profile input:disabled {
    cursor: not-allowed;
    opacity: 0.9;
}

.form-profile input {
    background-color: whitesmoke;
    border-radius: 10px;
    width: 40%;
    height: 5vh;
    border: none;
    padding-left: 1em;
    margin-bottom: 1em;
}

.form-profile textarea{
    border: none;
    background-color: whitesmoke;
    resize: none;
    padding-left: 1em;
    border-radius: 10px;
    height: 10vh;
    width: 15vw;
}

.change-password p{
    position: relative;
    top: 1em;
    color: #000000;
    background-color: #0000001e;
    border-radius: 10px;
    height: 5vh;
    width: 10vw;
    padding-top: .3em;
}

.change-password p:hover{
    color: #028ACD;
}

.form-profile button {
    width: 10vw;
    height: 5vh;
    align-self: flex-end;
    margin-top: 4em;
    margin-right: 1em;
    border-radius: 10px;
    border: none;
    background-color: #028ACD;
    color: #FFF;
}