.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.6);
    z-index: 99;
}

.modal .container-modal{
    position: fixed;
    max-width: 600px;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #FFF;
    height: 315px;
    border-radius: 15px;
}

.container-modal h2{
    text-align: center;
    padding-top: .5vw;
    margin-bottom: 1rem;
}

.container-modal hr{
    width: 97%;
    position: relative;
    top: 5rem;
    opacity: 0.3;
}

.container-modal .close{
    width: 15%;
    border: none;
    background: none;
    position: absolute;
    transition: all 1s;
    top: .5rem;
    left: 33rem;
}

.container-modal .close:hover{
    transform: scale(1.2);
}

.container-modal img{
    margin-left: 12px;
    margin-top: 5px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.container-modal p{
    position: absolute;
    margin-top: -50px;
    margin-left: 70px;
}

.container-modal  .user-infos-modal{
    margin-top: 3rem;
}

.togglesOnStartPublication {
    display: flex;
    gap: 3rem;
    margin-left: 2rem;
}

.togglesOnStartPublication div {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 5px;
    padding: 3px 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.4s;
}

.togglesOnStartPublication div:hover {
    background:rgb(0,0,0,0.11);
}

.togglesOnStartPublication div p {
    font-weight: 500;
    font-size: 0.9rem;
    color: rgb(0,0,0,0.75);
}


.container-modal textarea{
    border: none;
    width: 90%;
    height: 20vh;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 10px;
    resize: none;
    font-size: 15px;
}


.container-modal .make-public{
    border: none;
    border-radius: 15px;
    width: 15%;
    height: 10%;
    position: absolute;
    top: 17rem;
    left: 31rem;
}

.container-modal .make-public:disabled{
    cursor: not-allowed;
}