.forgotpassword-container{
    width: 400px;
    height: 300px;
    border-radius: 15px;
    background-color: #EAEAEC;
    margin-top: 10em;
    margin-left: 30em;
}

.form-forgotpassword{
    padding-left: 1vw;
    padding-top: 4em;
}

.form-forgotpassword input{
    width: 90%;
    background-color: whitesmoke;
}

.form-forgotpassword button{
    width: 40%;
    margin-top: 3.5vw;
    align-self: center;
}
.form-forgotpassword .btn-return{
    margin-left: 20em;
    margin-top: -2em;
    color: #000000;
}

.form-forgotpassword .btn-return svg{
    margin-left: -10px;
}

.form-forgotpassword .btn-return p{
    margin-top: -25px;
    margin-left: 12px;
}