.header {
    width: 100vw;
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    height: 3.5rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 35px;
    background: #EEF3F8;
    margin-left: 1rem;
    border-radius: 3px;
}

.search-bar button {
    outline: none;
    border: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar svg{
    color: #000;
    margin-left: 10px;
}

.search-bar input{
    padding-left: 0.6rem;
    border: 0;
    background: transparent;
}

.optionsNav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.optionsNav div {
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #000000;
}

.optionsNav div:hover {
    color: #021B79;
    transition: .4s;
    font-weight: 700;
}

.optionsNav div svg {
    font-size: 1.4rem;
}

.optionsNav div span {
    font-size: 0.7rem;
    
}

.buttonSignOut {
    font-size: 1.4rem;
    background: transparent;
    border: none;
    font-size: 15px;
}

.buttonSignOut label:hover{
    color: #021B79;
}