.header {
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    height: 3.5rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: whitesmoke;
}

.logo {
    position: relative;
    top: 15px;
    left: -100px;
}

.optionsNav {
    display: flex;
}

.optionsNav div {
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #000000;
}

.optionsNav div:hover {
    color: #021B79;
    transition: .4s;
    font-weight: 700;
}

.optionsNav div svg {
    font-size: 1.4rem;
}

.optionsNav div span {
    font-size: 0.7rem;
    
}

.buttonSignOut {
    font-size: 1.4rem;
    background: transparent;
    border: none;
    font-size: 15px;
    position: relative;
    left: 8vw;
    top: 0.5vw;
}

.buttonSignOut label{
    cursor: pointer;
    position: relative;
    top: -6px;
    left: 3px;
}

.buttonSignOut label:hover{
    color: #021B79;
}