.sidebar{
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #FFF;
    height: 500px;
    overflow: auto;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 10px;
}

.sidebar div img{
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 10px auto;
}

.picture{
    display: flex;
    justify-content: flex-end;
}

label{
    text-align: center;
    color: #000000;
}

hr{
    width: 90%;
    margin-left: 11px;
    margin-top: 10px;
    opacity: 0.5;
}

.links{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.links  p{
    color: #000000;
    margin-left: 35px;
    margin-top: -23px;
    transition: 0.2s;
    width: 25%;
}

.links p:hover{
    color: #d2d7df;
}

.links label .logout{
    cursor: pointer;
    margin-top: 7rem;
    margin-left: 7rem;
}

.links label p{
    margin-left: 178px;
    margin-top: -1.5rem;
    cursor: pointer;
}