.sidebar{
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #FFF;
    height: 480px;
    overflow: auto;
    border-radius: 10px;
    position: relative;
}

.sidebar div img{
    border-radius: 50%;
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin: 10px auto;
}

.picture-sidebar{
    display: flex;
    justify-content: flex-end;
}

label{
    text-align: center;
    color: #000000;
}

label .aboutyourself{
    text-align: center;
    font-size: 13px;
    padding: 1vw;
    position: relative;
    top: -35px;
    color: rgba(0,0,0,.6);;
}

hr{
    width: 90%;
    position: relative;
    margin: -30px auto;
    opacity: 0.5;
}

.links{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.links  p{
    color: #000000;
    padding-left: 30px;
    margin-top: -29px;
    transition: 0.2s;
    font-size: 14px;
  
}

.links p:hover{
    color: #028ACD;
}

