.formSignUp {
    display: flex;
    flex-direction: column;
}

.formSignUp input{
    width: 19rem;
    border-radius: 15px;
    border: none;
    height: 2.6rem;
    padding-left: 2.5rem;
    border: 1px solid rgba(0,0,0,0.15);
}


.formSignUp  button{
    padding: 5px 30px;
    font-size: 1rem;  
    margin-top: 1rem;   
    background-color: #0452BC;
    border: 0;
    border-radius: 15px;
    color: #FFF;
}

.formSignUp button:disabled{
    cursor: not-allowed;
}

.formSignUp button svg{
    animation: animate 2s infinite;
}
