.containerContent1 {
    padding-top: .2rem;
    margin-left: -18rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerContent1 p {
    color: #FFF;
    margin-bottom: 1rem;
}

.containerContent1 a {
    width: 180px;
    height: 35px;
    background: #045AC5;
    border-radius: 20px;
    color: #FFF;
    padding: 5px 0 0 45px;
}

.containerContent1 a:hover {
    opacity: 0.8;
}

@media(max-width: 1115px){
    .login .title-register{
        font-size: 2rem;
    }

    .formSignIn{
        margin-left: -1rem;
    }
}

@media (max-width: 925px){
    .containerToSignUp .containerContent1{
        margin-left: -13.5rem;
    }

    .login{
        margin-top: -1rem;
    }
}

@media (max-width: 415px){
    .containerToSignUp .containerContent1{
        margin-left: -8.6rem;
    }

    .login{
        margin-left: 2rem;
    }
}
