* {
    font-family: 'Poppins', sans-serif;
}

.pageRegister {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.dontHaveAccount {
    width: 50%;
    background: var(--blueGradient);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dontHaveAccount h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.dontHaveAccount p {
    font-size: 1.1rem;
    font-weight: 400;
}

.dontHaveAccount a {
    background: var(--blue);
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--white);
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
    transition: 0.3s;
}


.dontHaveAccount a:hover {
    opacity: 0.8;
}

.dontHaveAccount a:active {
    opacity: 0.6;
}

.registerInfos {
    background: var(--grey);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--greyBlack)
}

.registerInfosContent {
    display: flex;
    flex-direction: column;
}


.registerInfosContent h1 {
    font-size: 1.5rem;
}

.registerInfosContent div {
    width: 307px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid var(--black35);
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.registerInfosContent div svg {
    width: 6%;
    color:var(--black65);
    height: 100%;
    margin-left: 10px;
    font-size: 0.5rem;
}
.registerInfosContent div input {
    width: 90%;
    height: 100%;
    border: 0;
    background: transparent;
    margin-left: 1rem;
}

.registerInfosContent button {
    width: 307px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid var(--black35);
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    border: 0;
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
}

@media screen and (max-width: 870px) {
    .dontHaveAccount h1 {
        font-size: 2rem;
        font-weight: 600;
    }
    
    .dontHaveAccount p {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .registerInfosContent div {
        width: 307px;
        height: 50px;
    }

    .registerInfosContent button {
        width: 307px;
        height: 40px;
    }
}

@media screen and (max-width: 690px) { 
    .pageRegister {
        flex-direction: column;
    }

    .registerInfos {
        width: 100%;
        padding: 3rem 0 ;
    }

    .dontHaveAccount {
        width: 100%;
        padding: 4.5rem 0;
    }
} 


